### macOS ###
.DS_Store

### Terraform ###
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfbackend
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

### Docker ###
docker/**/*